/* Fix BUG footer on Android 2.3.5 */
.footer {
position: fixed;
z-index: 10;
bottom: 0;
width: 100%;
}

.label-info {
	color:red;
}

/* Autocomplete */

.completer .results {
    margin: 10px 0 0;
    padding: 0;
}

.completer .results li {
    font-size: 1.4em;
    color: #5D63B3;
    font-weight: bold;
    background-color: #D5D7F5;
    padding: 4px;
    margin: 0;
    border-bottom: 1px solid #B6B9E3;
    cursor: pointer;
}

.completer .results li:last-child {
    border-bottom: none;
}

.completer .results li:hover {
    text-decoration: underline;
}

.completer .selections {
    padding: 0;
    margin: 13px 0;
    overflow: auto;
}

.completer .selections li {
    background: #FCFBA2;
    float: left;
    padding: 1px 2px;
    color: #333;
    font-size: 1.2em;
    margin-right: 10px;
}

/* Button red */
/* F
 -----------------------------------------------------------------------------------------------------------*/
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
    color: white;
    font-weight: bold;
    text-decoration: none; }
 
.ui-btn-up-f {
    border: 1px solid #711414;
    background: #ab2525;
    text-shadow: 0 -1px 1px #711414;
    background-image: -moz-linear-gradient(top, #c44f4f, #ab2525);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c45e5e), color-stop(1, #9e3939));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c44f4f', EndColorStr='#ab2525')"; }
 
.ui-btn-hover-f {
    border: 1px solid #6e0000;
    background: #b54a4a;
    text-shadow: 0 -1px 1px #690101;
    background-image: -moz-linear-gradient(top, #d47272, #b54a4a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d47272), color-stop(1, #b54a4a));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d47272', EndColorStr='#b54a4a')"; }
 
.ui-btn-down-f {
    border: 1px solid #782323;
    background: #c44f4f;
    text-shadow: 0 -1px 1px #782323;
    background-image: -moz-linear-gradient(top, #9e3939, #c44f4f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e3939), color-stop(1, #c44f4f));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9e3939', EndColorStr='#c44f4f')"; }
 
 
 
/* G
 -----------------------------------------------------------------------------------------------------------
 normal green: 019901
 light green: 00bf00
 dark green: 006b00
 
 */
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g {
    color: white;
    font-weight: bold;
    text-decoration: none; }
 
.ui-btn-up-g {
    border: 1px solid #006b00;
    background: #019901;
    text-shadow: 0 -1px 1px #006b00;
    background-image: -moz-linear-gradient(top, #00bf00, #019901);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00bf00), color-stop(1, #019901));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00bf00', EndColorStr='#019901')"; }
 
.ui-btn-hover-g {
    border: 1px solid #006b00;
    background: #00bf00;
    text-shadow: 0 -1px 1px #690101;
    background-image: -moz-linear-gradient(top, #019901, #006000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #019901), color-stop(1, #006000));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#019901', EndColorStr='#006000')"; }
 
.ui-btn-down-g {
    border: 1px solid #006b00;
    background: #006b00;
    text-shadow: 0 -1px 1px #00592b;
    background-image: -moz-linear-gradient(top, #006000, #00bf00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #006000), color-stop(1, #00bf00));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#006000', EndColorStr='#00bf00')"; }

    
/**SOCIAL***/
.social-media-share
{
	margin: 0;
	padding: 0;
	height: 39px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5E5E5), to(#CFCFCF));
	background-image: -moz-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -webkit-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -o-linear-gradient(#E5E5E5, #CFCFCF);
	border: solid 1px #B5B5B5;
	border-radius: 6px;
	-moz-border-radius: 6px;
	background: #CFCFCF url(../images/bg.jpg) repeat-x;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 1px gray;
	-moz-box-shadow: 0px 1px 1px gray;
	box-shadow: 0px 1px 1px gray;
}
.social-media-share .inner
{
	position: relative;
	float: left;
	width: 32px;
	height: 30px;
	border: solid 1px #B5B5B5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5E5E5), to(#CFCFCF));
	background-image: -moz-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -webkit-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -o-linear-gradient(#E5E5E5, #CFCFCF);
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 3px;
	text-align: center;
	background-image: url(../images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 1px gray;
	-moz-box-shadow: 0px 1px 1px gray;
	box-shadow: 0px 1px 1px gray;
}
.social-media-share-tooltip
{
	position: absolute;
	z-index: 200;
	color: #b5B5B5;
	font-size: 10pt;
}
.social-media-share ul
{
	position: relative;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 4px;
	margin-left: -8px;
	height: 24px;
	overflow: hidden;
	width: 88%;
}
.social-media-share ul li
{
	display: inline;
	float: left;
	margin-left: 18px;
}
.social-media-share ul li img
{
	border: none;
}

/**** TCHAT *****/
.message {
     padding: 5px 5px 5px 5px;
 }
 .username {
     font-weight: strong;
     color: #0f0;
 }
 .msgContainerDiv {
     overflow-y: scroll;
     height: 150px;
 }