#
node_modules
# excluding port file in server 
.port
conf.js
#
nohup.out
# documentation
doc/

# scripts stuff..
scripts/clubs/clubs.in.csv
scripts/clubs/clubs.out.csv

# old
node_modulesOLD
/bin/deploy-api.sh~alpha
