<div data-role="header" data-theme="b" data-position="fixed">
    <a href="#" data-transition="slide" data-reverse="true" data-icon="back">Back</a>
    <h1>zeScore Test</h1>
</div><!-- /header -->

<div data-role="content">

<div id="buttons-expanded"></div>

<a href="#" data-role="button" id="">Mes Matchs</a>
<a href="#" data-role="button" id="">Matchs Suivis</a>
<a href="#players/list" data-role="button" id="">Joueurs Suivis</a>
<% 

if(Owner.club === null) 
	print ('<a href="#" data-role="button" id="" class="ui-disabled">Mon Club</a>'); 
else 
	print ('<a href="#" data-role="button" id="">Mon Club</a>');
	
%>
<a href="#" data-role="button" id="" class="ui-disabled">Mon Coach Sportif</a>
<p align="center">Vos donn&eacute;es sont enregistr&eacute;es en local. Pour les sauver, cliquez sur :</p>
<!-- Parametres -->

<% 

if(Owner.id === null) 
	print ('<a href="#players/form" data-role="button" id="">Inscription</a>'); 
else 
	print ('<a href="#players/form" data-role="button" id="">Profil</a>');
	
%>




</div><!-- /content -->

<div data-role="footer" data-theme="b" data-position="fixed">
   <div data-role="navbar">
	<ul>
		<li><a href="#">Suivre</a></li>
		<li><a href="#games/add">Diffuser</a></li>
		<li><a href="#account" class="ui-btn-active ui-state-persist">Mon Compte</a></li>
	</ul>				
	</div><!-- /navbar -->
</div>