<div data-role="header" data-theme="b" data-position="fixed">
    <a href="#" data-transition="slide" data-reverse="true" data-icon="back" >
    Back</a>
    <h1>zeScore</h1>
</div><!-- /header -->

<div data-role="content">
   
<form id="frmGamePref" class="ui-body ui-body-b ui-corner-all">

     <ul data-role="listview" data-filter="true">
		<li><a href="#games/add?team2=Vincent&id=131313">Vincent Terrasi</a></li>
		<li><a href="#games/add?team2=Ludovic&id=113232132">Ludovic</a></li>			
	</ul>
  
  	<input type='hidden' id='playerid' value='' class='input' />
	<input type='hidden' id='token' value='' class='input' />
  
</form>
   
   
</div><!-- /content -->

<div data-role="footer" data-theme="b" data-position="fixed">
   <div data-role="navbar">
	<ul>
		<li><a href="#">Suivre</a></li>
		<li><a href="#games/add" class="ui-btn-active ui-state-persist">Diffuser</a></li>
		<li><a href="#account">Mon Compte</a></li>
	</ul>				
	</div><!-- /navbar -->
</div>