<div data-role="header" data-theme="b" data-position="fixed">
    <a href="#" data-transition="slide" data-reverse="true" data-icon="back">Back</a>
    <h1>zeScore</h1>
</div><!-- /header -->

<div data-role="content">

<div id="displayViewScoreBoard" data-role="listview"></div>

<%
//if (game.owner === Owner.id) 
//{
%>
<br/><br/>
<form id="frmScore">
<!-- 
<div class="ui-grid-a">
	<div class="ui-block-a">
		<h3 style="margin-top:20px;text-align:right;">Serveur : </h3>
	</div>
	<div class="ui-block-b">
	
		<fieldset data-role="controlgroup" data-type="horizontal">
		        <input type="radio" name="team_selected" id="team1_selected" value="1" />
		        <label for="team1_selected"><%= game.teams[0].players[0].name %></label>
		        <input type="radio" name="team_selected" id="team2_selected" value="2" checked="checked"/>
		        <label for="team2_selected"><%= game.teams[1].players[0].name %></label>
		    </fieldset>
	
	</div>
</div>

<div class="ui-grid-a">
	<div class="ui-block-a"><a data-theme="g" id="setPointWinButton" data-role="button">Serveur Marque</a></div>
	<div class="ui-block-b"><a data-theme="f" id="setPointErrorButton" data-role="button">Serveur Faute</a></div>
</div>
 -->
<div class="ui-grid-a">
	<div class="ui-block-a"><a id="endButton" data-role="button">Terminer</a></div>
	<div class="ui-block-b"><a id="cancelButton" data-role="button">Annuler</a></div>
</div>
<div class="ui-grid-a">
	<div class="ui-block-a">
	
	<%
	if (follow === 'true') 
	{
	%>
	<a data-role="button" id="followButton">Ne plus suivre</a>
	<%
	}
	else {
	%>
	<a data-role="button" id="followButton">Suivre</a>
	<%
	}
	%>
	
	</div>
	<div class="ui-block-b"><a href="http://www.facebook.com/share.php?u=https://apps.facebook.com/447718828610668/game/<%= game.id %>" data-role="button" target="_blank">Partager</a></div>	
</div>
	
</form>
<%
//}
//else {
%>
<br/>
<!-- 

$("#incomingMessages").append(
                   "<div class='message'><span class='username'>" +
                   (message.chatName || 'Anonymous') +
                   "</span> : " +
                   (message.text || ' ') +
                   "</div>"
               );
               $("#incomingMessages").scrollTop(
                   $("#incomingMessages")[0].scrollHeight
               );
 -->

<div id="incomingComment" data-role="listview" class="msgContainerDiv"></div>     
<br/>
 <form id="frmAttachment" class="ui-body ui-body-b">

	<div data-role="fieldcontain">
		<textarea name="messageText" id="messageText" style="width: 95%; height: 50px;"></textarea>
	</div>
	
     <div data-role="fieldcontain">
         <label for="attachment">Attachment:</label>
         <input type="file" name="attachment" id="attachment"/>
     </div>	
	
	<fieldset class="ui-grid-a">
		<div class="ui-block-a">
			<button data-theme="b" id="commentDeleteButton" data-role="button">Effacer</button>
		</div>
		<div class="ui-block-b">
			<!--  
			<button data-theme="b" id="chatSendButton" name="chatSendButton">Envoyer</button>
			-->
     		<input type="submit" value="Envoyer" id="commentSendButton" />
		</div>
	</fieldset>
     
	
     
 </form>  
<%
//}
%>   
</div><!-- /content -->

<div data-role="footer" data-theme="b" data-position="fixed">
   <div data-role="navbar">
	<ul>
		<li><a href="#">Suivre</a></li>
		<li><a href="#games/add">Diffuser</a></li>
		<li><a href="#account">Mon Compte</a></li>
	</ul>				
	</div><!-- /navbar -->
</div>