<div data-role="header" data-theme="b" data-position="fixed">
    <a href="#" data-transition="slide" data-reverse="true" data-icon="back" >
    Back</a>
    <h1>zeScore</h1>
</div><!-- /header -->

<div data-role="content">
   
<form id="frmSigninPlayer" class="ui-body ui-body-b ui-corner-all">

  <span class="success label label-info hide" style="color:red"></span>	

  <div class="control-group">
    <label class="control-label" for="pseudo">Email</label>
    <div class="controls">
      <input type="text" id="email" name="email" placeholder="Email" class='input-xlarge' value=""/>
      <span class="email_error label label-info hide"></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="password">Mot de passe</label>
    <div class="controls">
      <input type="text" id="password" name="password" placeholder="Mot de passe" class='input-xlarge' value=""/>
      <span class="password_error label label-info hide"></span>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button type="submit" value="Save" class="button">Connecter</button>
    </div>
  </div>
  
  
</form>

<hr/>

<div align="center"><a href="#players/form" data-role="button">S'enregistrer</a></div>
   
   
</div><!-- /content -->

<div data-role="footer" data-theme="b" data-position="fixed">
   <div data-role="navbar">
	<ul>
		<li><a href="#">Suivre</a></li>
		<li><a href="#games/add">Diffuser</a></li>
		<li><a href="#account"  class="ui-btn-active ui-state-persist">Mon Compte</a></li>
	</ul>				
	</div><!-- /navbar -->
</div>