<% if(players.length==0) { %>
        <li><p>Aucun resultat pour <%= query %></p></li>
<% } %> 

<%

    for (var i = 0; i < players.length; i++) {
    	
    	player = players[i];
    
    %>
        
        <li title="<% if (player!==undefined) print(player.id); %>">
        
       <fieldset data-role="controlgroup" data-type="horizontal">
       <input type="checkbox" name="team<%= select %>_choice" value="<% if (player!==undefined) print(player.id); %>" id="team<%= select %>_choice" class="custom" />
       <label for="team<%= select %>_name"><% if (player!==undefined) print(player.name); %></label>
       <label for="team<%= select %>_rank"><% if (player!==undefined) print(player.rank); %></label>
       <label for="team<%= select %>_club"><% if (player!==undefined) if (player.club!==undefined) print(player.club.name); %></label> 
       </fieldset>
      
        </li>
    <%
    	if (i>5) break;
    
        }
        
        if (players.length>5) {
     %>
      <li>
     	... ( <%= players.length %> resultats)
        </li>
     <%   
        }
%>
