<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.zenodus.client" version = "0.0.0.9">

<preference name="phonegap-version" value="2.4.0" />

<name>YesWeScore</name>

<description>
- Live score on Internet
- Send your results to Facebook
- Few different types of scoring plus custom option. 
- Full scoreboard always visible
</description>

<author href="https://www.yeswescore.com" email="support@yeswescore.com">ZENODUS</author>

<icon src="icon.png" />

<gap:platforms>
<gap:platform name="android" minVersion="2.1"/>
<gap:platform name="webos"/>
<gap:platform name="symbian.wrt"/>
<gap:platform name="blackberry" project="widgets"/>
</gap:platforms>

<!-- Display behavior -->
<preference name="orientation" value="portrait" />

<!-- Device permissions -->
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="http://api.phonegap.com/1.0/device"/>

<!-- Whitelisting -->
<access origin="*" />
<!-- 
<access origin="http://reachtheflow.com:8080" subdomains="true" />
 -->
</widget>